MyBMIServerImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://bmi.webservice.com/" name="MyBMIServerImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://bmi.webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://bmi.webservice.com/" schemaLocation="MyBMIServerImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="calcBMI">
    <part name="parameters" element="tns:calcBMI"/>
  </message>
  <message name="calcBMIResponse">
    <part name="parameters" element="tns:calcBMIResponse"/>
  </message>
  <message name="listRanges">
    <part name="parameters" element="tns:listRanges"/>
  </message>
  <message name="listRangesResponse">
    <part name="parameters" element="tns:listRangesResponse"/>
  </message>
  <message name="listWeights">
    <part name="parameters" element="tns:listWeights"/>
  </message>
  <message name="listWeightsResponse">
    <part name="parameters" element="tns:listWeightsResponse"/>
  </message>
  <portType name="MyBMIServer">
    <operation name="calcBMI">
      <input wsam:Action="http://bmi.webservice.com/MyBMIServer/calcBMIRequest" message="tns:calcBMI"/>
      <output wsam:Action="http://bmi.webservice.com/MyBMIServer/calcBMIResponse" message="tns:calcBMIResponse"/>
    </operation>
    <operation name="listRanges">
      <input wsam:Action="http://bmi.webservice.com/MyBMIServer/listRangesRequest" message="tns:listRanges"/>
      <output wsam:Action="http://bmi.webservice.com/MyBMIServer/listRangesResponse" message="tns:listRangesResponse"/>
    </operation>
    <operation name="listWeights">
      <input wsam:Action="http://bmi.webservice.com/MyBMIServer/listWeightsRequest" message="tns:listWeights"/>
      <output wsam:Action="http://bmi.webservice.com/MyBMIServer/listWeightsResponse" message="tns:listWeightsResponse"/>
    </operation>
  </portType>
  <binding name="8888Binding" type="tns:MyBMIServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="calcBMI">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listRanges">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listWeights">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MyBMIServerImplService">
    <port name="8888" binding="tns:8888Binding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

